@font-face {
  font-family: "Livvic";
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/livvic-v13-latin-600.woff2") format("woff2"), 
  url("../fonts/livvic-v13-latin-600.woff") format("woff");
}

@font-face {
  font-family: "Livvic";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/livvic-v13-latin-700.woff2") format("woff2"), 
  url("../fonts/livvic-v13-latin-700.woff") format("woff"); 
}


/* GENERAL */

*,
*::before,
*::after{
  box-sizing: inherit;
}


html{
  height: 100%;
  box-sizing: border-box;
}

img{
  display: block;
  height: auto;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Livvic", "Arial", sans-serif;

}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  display: inline-block;
  text-decoration: none;
}

/* VISUALLY-HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container{
  width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */

.site-main{
  flex-grow: 1;
}


.build{
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: #012f34;
  background-image: url(../images/section-after\ \(1\).svg);
  background-position: calc(50% + 690px) calc(50% + 190px);
  background-repeat: no-repeat;
  
}
.build__box{
  display: flex;
  justify-content: space-between;
}
.build__themebox{
  position: relative;
  width: 445px;
}
.build__themebox::before{
  position: absolute;
  top: -54px;
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #f67e7e;
}
.build__theme{
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #fff;
}
.build__item{
  display: flex;
  margin-bottom: 32px;
}
.build__item:last-child{
  margin-bottom: 0;
}
.build__itembox{
  width: 445px;
}
.build__item::before{
  content: "";
  display: block;
  margin-right: 23px;
  background-image: url(../images/Experienced.svg);
  background-repeat: no-repeat;
  width: 72px;
  height: 72px;
}
.build__item:nth-child(2)::before{
  background-image: url(../images/easy.svg);
}
.build__item:nth-child(3)::before{
  background-image: url(../images/enhansed.svg);
}
.build__minitheme{
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #f67e7e;
}
.build__minitext{
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  opacity: 0.8;
  
}





